<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="share/managerlayout">

<head>
    <style>
        .el-input{width:70%;}
    </style>
</head>
<body>

<div layout:fragment="mangercontent">
    <el-scrollbar  class="contain">
        <div class="con-box" >
            <h2 v-if="isEdit">编辑项目</h2>
            <h2 v-if="!isEdit">新增项目</h2>

            <p style="margin:20px 0;"></p>

            <el-form :model="ruleForm" style="width:630px;"  label-position="left" :rules="rules" ref="ruleForm" label-width="80px" class="demo-ruleForm"
                     size="small">

                <el-form-item label="编码" prop="code">
                    <el-input v-model="ruleForm.code" :disabled="isEdit"></el-input>
                    <span style="color: gray;display:inline-block;width:145px;">编码保存后不可更改</span>
                </el-form-item>


                <el-form-item label="名称" prop="name">
                    <el-input v-model="ruleForm.name"></el-input>
                </el-form-item>
                <el-form-item label="开始时间" prop="starttime">
                    <div class="block">
                        <el-date-picker
                                v-model="ruleForm.starttime"
                                type="date"
                                value-format="yyyy-MM-dd"
                                placeholder="选择日期">
                        </el-date-picker>
                    </div>
                </el-form-item>
                <el-form-item label="结束时间" prop="endtime">
                    <div class="block">
                        <el-date-picker
                                v-model="ruleForm.endtime"
                                type="date"
                                value-format="yyyy-MM-dd"
                                placeholder="选择日期">
                        </el-date-picker>
                    </div>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="goback">返回</el-button>
                    <el-button type="primary" @click="submitForm('ruleForm')">保存</el-button>
                </el-form-item>

            </el-form>
        </div>
    </el-scrollbar>
</div>

<div layout:fragment="jscontent">

    <script>
        var save = function () {

            // if(!app.ruleForm.starttime)
            //     app.ruleForm.starttime = "";
            // if(!app.ruleForm.endtime)
            //     app.ruleForm.endtime = "";

            debugger

            $.ajax({
                type: "post",
                url: contextRoot + "project/saveProject",
                data: JSON.stringify(app.ruleForm),
                contentType: 'application/json',

                async: true,
                success: function (result) {
                    console.log(result);
                    if (result.code == 200) {
                        if(app.isEdit){
                            showMsg("保存成功");
                        }else{
                            showMsg("保存成功");
                            app.$refs['ruleForm'].resetFields();
                            //window.location.href = contextRoot + "project/projectList";
                        }
                    }else {
                        showError(result.msg);
                    }
                },
                error: function () {
                    showMsg("保存失败");
                }
            });
        }

        
        var app = new Vue({
            el: '#app',
            data: {
                isEdit: false,
                ruleForm:{
                    code: '',
                    name:'',
                    starttime:'',
                    endtime:''
                },
                rules:{
                    name: [
                        { required: true, message: '请输入名称', trigger: 'blur' },
                        { min: 1, max: 50, message: '长度请在 1 到 50 个字符', trigger: 'blur' }
                    ],
                    code:[
                        { required: true, message: '请输入编码', trigger: 'blur' },
                        { max: 50, message: '请不要超过50字符', trigger: 'blur' }
                    ]
                }
            },
            methods: {
                goback(){
                    window.location.href = contextRoot + "project/projectList";
                },
                handleCurrentChange(val){
                    app.currentPage = val;
                    app.loadData();
                },
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            save();
                        }else{
                            return false;
                        }
                    });
                }
            }
        })

        var id = GetQueryString("id");
        app.isEdit = false;
        if(id){
            app.isEdit = true;

            $.ajax({
                type: "get",
                url: contextRoot + "project/getById",
                data: { id:id },
                async: true,
                success: function (result) {
                    console.log("getInfo");
                    console.log(result);
                    if (result.code == 200) {
                        app.ruleForm = result.data;
                    }else {
                        showError(result.msg);
                    }
                },
                error: function () {
                    showMsg("编辑获取信息失败");
                }
            });
        }

    </script>
</div>


</body>
</html>


