<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="share/managerlayout">

<head>
    <style>
        .el-table__row{cursor: pointer;}
        .el-table .NoneRow{background:#f0f9eb;}
        .el-table .ProcessingRow{background:#fde6f9;}
        .el-table .DoneRow{background:#88d688;}
        .el-table .NoIdeaRow{background:#afafaf;}
        .el-table .cell{color:black;}
    </style>
    <link rel="stylesheet" th:href="@{/third/editor.md/css/editormd.preview.min.css}" />
</head>
<body>

<div layout:fragment="mangercontent">
    <el-scrollbar  class="contain">
        <div class="con-box">
            <el-input style="width:400px;" placeholder="标题或内容 检索" size="small" v-model="searchContent" @keyup.enter.native="query"></el-input>
            <el-button type="primary" size="small" v-on:click="query">查找</el-button>

            <p style="margin:10px 0;"></p>

            <div class="btn-group">
                <el-button type="primary" size="small" v-on:click="add">新增</el-button>
                <el-button type="primary" size="small" v-on:click="remove">删除</el-button>
            </div>
            <el-table ref="multipleTable" style="width: 100%" :data="pageModel.list"  class="p0-table"
                      @selection-change="handleSelectionChange" @row-click="rowClick" :row-class-name="tableRowClassName">

                <el-table-column  label="序号" width="30" type="selection">
                </el-table-column>
                <el-table-column  label="序号" width="60">
                    <template slot-scope="scope">
                        {{((pageModel.currentPage-1) * pageModel.pageSize) + scope.$index+1}}
                    </template>
                </el-table-column>
                <el-table-column  label="项目">
                    <template slot-scope="scope">{{scope.row.model.projectcode}}</template>
                </el-table-column>
                <el-table-column  label="名称">
                    <template slot-scope="scope" >{{scope.row.model.title}}</template>
                </el-table-column>
                <el-table-column  label="类型">
                    <template slot-scope="scope">{{scope.row.tasktypeDesc}}</template>
                </el-table-column>
                <el-table-column  label="状态">
                    <template slot-scope="scope">{{scope.row.taskstatusDesc}}</template>
                </el-table-column>
                <el-table-column  label="操作" width="100px">
                    <template slot-scope="scope" >
                        <a v-bind:href="'/task/taskAdd?id='+scope.row.model.taskid" class="svg-a" title="编辑">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-edtor"></use>
                            </svg>
                        </a>
                    </template>
                </el-table-column>
            </el-table>

            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                :page-sizes="[10]"
                :current-page="pageModel.currentPage" :page-size="pageModel.pageSize" layout="total,prev, pager, next, jumper"
                :total="pageModel.totalCount"></el-pagination>
</div>

        <el-dialog
                :visible.sync="dialogVisible"
                width="30%">
            <div v-if="dialogModel">
                <el-row>
                    <el-col :span="24">
                        <h2>{{dialogModel.model.title}}</h2>
                    </el-col>
                </el-row>
                <el-row style="margin:15px 0;">
                    <el-col>
                        <el-tag size="small" >{{dialogModel.tasktypeDesc}}</el-tag>
                        <el-tag size="small" type="success">{{dialogModel.taskstatusDesc}}</el-tag>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="5">所属项目：</el-col>
                    <el-col :span="19">{{dialogModel.model.projectcode}}</el-col>
                </el-row>
                <el-row>
                    <el-col :span="5">提出人：</el-col>
                    <el-col :span="7">{{dialogModel.model.demandor}}&nbsp;</el-col>
                    <el-col :span="5">提出时间：</el-col>
                    <el-col :span="7">{{dialogModel.model.puttime}}</el-col>
                </el-row>
                <el-row>
                    <el-col :span="5">计划开始时间：</el-col>
                    <el-col :span="7">{{dialogModel.model.scheduledstart}}&nbsp;</el-col>
                    <el-col :span="5">计划结束时间：</el-col>
                    <el-col :span="7">{{dialogModel.model.scheduledend}}</el-col>
                </el-row>
                <el-row>
                    <el-col :span="24">
                        <div id="test-editormd-view" style="padding:0;margin-top:20px;">
                            <textarea style="display:none;" name="test-editormd-markdown-doc">###Hello world!</textarea>
                        </div>
                    </el-col>
                </el-row>
            </div>


            <span slot="footer" class="dialog-footer" />
        </el-dialog>

</el-scrollbar>
</div>



<div layout:fragment="jscontent">

    <script th:src="@{/third/editor.md/lib/marked.min.js}"></script>
    <script th:src="@{/third/editor.md/lib/prettify.min.js}"></script>
    <script th:src="@{/third/editor.md/lib/raphael.min.js}"></script>
    <script th:src="@{/third/editor.md/lib/underscore.min.js}"></script>
    <script th:src="@{/third/editor.md/lib/sequence-diagram.min.js}"></script>
    <script th:src="@{/third/editor.md/lib/flowchart.min.js}"></script>
    <script th:src="@{/third/editor.md/lib/jquery.flowchart.min.js}"></script>

    <script th:src="@{/third/editor.md/jquery.min.js}"></script>
    <script th:src="@{/third/editor.md/editormd.min.js}"></script>

    <script>

        var loadData = function () {

            $.ajax({
                type: "get",
                url: contextRoot + "task/getList",
                data: {currentPage: app.currentPage, content: app.searchContent},
                async: true,
                success: function (result) {
                    console.log(result);
                    if (result.code == 200) {
                        app.pageModel = result.data;
                    }else if(result.code == 403){
                        window.location.href = contextRoot + "login";
                    }else {
                        showError(result.msg);
                    }
                },
                error: function () {
                    showMsg("信息获取失败");
                }
            });
        };

        var query = function () {
            app.currentPage = 1;
            loadData();
        }
        
        var handleSelectionChange = function (val) {
            var arr = [];

            for(var i=0; i<val.length; i++){
                arr.push(val[i].model.taskid);
            }

            app.selectedItems = arr;
        }

        var rowClick = function(val){
            app.dialogVisible = true;
            app.dialogModel = val;

            var markdown = app.dialogModel.model.content;
            Vue.nextTick(function () {
                $("#test-editormd-view").html("");
                var testEditormdView = editormd.markdownToHTML("test-editormd-view", {
                    markdown: markdown,
                    htmlDecode: "style,script,iframe",
                    emoji: false,
                    taskList: true,
                    tocm: true,
                    tex: true,
                    flowChart: true,
                    sequenceDiagram: true,
                });
            });
        }
        
        var tableRowClassName = function (item) {
            if(item.row.taskstatusDesc == "未开始") return "NoneRow";
            if(item.row.taskstatusDesc == "进行中") return "ProcessingRow";
            if(item.row.taskstatusDesc == "已完成") return "DoneRow";
            if(item.row.taskstatusDesc == "无法处理") return "NoIdeaRow";
        }

        var remove = function () {

            if(app.selectedItems.length == 0){
                showError("请勾选");
                return;
            }

            showCofirm(function () {

                $.ajax({
                    type: "post",
                    url: contextRoot + "task/removeTask",
                    data: { ids : app.selectedItems.join(",") },
                    async: true,
                    success: function (result) {
                        console.log(result);
                        if (result.code == 200) {
                            showMsg("删除成功");
                            app.loadData();
                        }else {
                            showError(result.msg);
                        }
                    },
                    error: function () {
                        showMsg("信息获取失败");
                    }
                });

            });



        }

        var app = new Vue({
            el: '#app',
            data: {
                pageModel:[],
                searchContent:'', /*查询参数：用户单位名称*/
                currentPage:1,
                selectedItems:[],
                dialogVisible:false,
                dialogModel:null,
            },
            methods: {
                loadData: loadData,
                query:query,
                handleSelectionChange:handleSelectionChange,
                rowClick:rowClick,
                tableRowClassName:tableRowClassName,
                remove:remove,
                add:function(){
                  window.location.href= contextRoot +"task/taskAdd";
                },
                handleSizeChange(val) {

                },
                handleCurrentChange(val){
                    app.currentPage = val;
                    app.loadData();
                }
            }
        })

        app.loadData();

    </script>
</div>


</body>
</html>


