<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="share/managerlayout">

<head>

    <!--<link rel="stylesheet" th:href="@{/third/editor.md/css/editormd.min.css}" />-->
    <link rel="stylesheet" href="http://pandao.github.io/editor.md/css/editormd.css" />

</head>
<body>

<div layout:fragment="mangercontent">
    <el-scrollbar  class="contain">
        <div class="con-box" >
            <h2 v-if="isEdit">编辑任务</h2>
            <h2 v-if="!isEdit">新增任务</h2>

            <p style="margin:20px 0;"></p>

            <el-form :model="ruleForm" style="width:100%"  label-position="left" :rules="rules"
            	ref="ruleForm" label-width="100px" class="demo-ruleForm"
                     size="small">

                <el-row :gutter="40">
                    <el-col :span="8">

                        <el-form-item label="标题" prop="title">
                            <el-input v-model="ruleForm.title"></el-input>
                        </el-form-item>

                    </el-col>
                    <el-col :span="8">

                        <el-form-item label="项目" prop="projectcode">
                            <el-select v-model="ruleForm.projectcode" placeholder="请选择">
                                <el-option
                                        v-for="item in projectList" :key="item.code" :label="item.name" :value="item.code">
                                </el-option>
                            </el-select>
                        </el-form-item>

                    </el-col>
                </el-row>

                <el-row :gutter="40">
                    <el-col :span="8">

                        <el-form-item label="提出人" prop="demandor">
                            <el-input v-model="ruleForm.demandor"></el-input>
                        </el-form-item>

                    </el-col>
                    <el-col :span="6">

                        <el-form-item label="类型" prop="tasktype">
                            <el-select v-model="ruleForm.tasktype" placeholder="请选择">
                                <el-option
                                        v-for="item in taskTypeList" :key="item.code" :label="item.name" :value="item.code">
                                </el-option>
                            </el-select>
                        </el-form-item>

                    </el-col>

                    <el-col :span="4">

                        <el-form-item label="状态" prop="taskstatus">
                            <el-select v-model="ruleForm.taskstatus" placeholder="请选择">
                                <el-option
                                        v-for="item in taskStatusList" :key="item.code" :label="item.name" :value="item.code">
                                </el-option>
                            </el-select>
                        </el-form-item>

                    </el-col>

                </el-row>


                <el-row :gutter="40">
                    <el-col :span="8">

                        <el-form-item label="提出时间" prop="puttime">
                            <div class="block">
                                <el-date-picker
                                        v-model="ruleForm.puttime"
                                        type="date"
                                        value-format="yyyy-MM-dd"
                                        placeholder="选择日期">
                                </el-date-picker>
                            </div>
                        </el-form-item>

                    </el-col>
                    <el-col :span="6">

                        <el-form-item label="计划开始时间" prop="scheduledstart">
                            <div class="block">
                                <el-date-picker
                                        v-model="ruleForm.scheduledstart"
                                        type="date"
                                        value-format="yyyy-MM-dd"
                                        placeholder="选择日期">
                                </el-date-picker>
                            </div>
                        </el-form-item>

                    </el-col>

                    <el-col :span="8">

                        <el-form-item label="计划结束时间" prop="scheduledend">
                            <div class="block">
                                <el-date-picker
                                        v-model="ruleForm.scheduledend"
                                        type="date"
                                        value-format="yyyy-MM-dd"
                                        placeholder="选择日期">
                                </el-date-picker>
                            </div>
                        </el-form-item>

                    </el-col>

                </el-row>


                <el-form-item label="内容" prop="content">
                    <div id="test-editormd" style="margin:0;">
                        <textarea style="display:none;"></textarea>
                    </div>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="goback">返回</el-button>
                    <el-button type="primary" @click="submitForm('ruleForm')">保存</el-button>
                </el-form-item>

            </el-form>
        </div>
    </el-scrollbar>
</div>

<div layout:fragment="jscontent">

    <!--<script th:src="@{/third/editor.md/editormd.min.js}"></script>-->
    <script src="http://pandao.github.io/editor.md/editormd.min.js"></script>

    <script>
    	
    	var loadProjectList = function(val){
    		$.ajax({
                type: "get",
                url: contextRoot + "project/getDDLItem",          
                success: function (result) {
                    if (result.code == 200) {
                    	app.projectList = result.data;
                    }else {
                        showError(result.msg);
                    }
                },
                error: function () {
                	showError("项目列表失败");
                }
            });
    	}
    	loadProjectList();
    	
    	var loadTaskTypeList = function(val){
    		$.ajax({
                type: "get",
                url: contextRoot + "task/tasktypes",          
                success: function (result) {
                    if (result.code == 200) {
                    	app.taskTypeList = result.data;
                    }else {
                        showError(result.msg);
                    }
                },
                error: function () {
                	showError("进度列表失败");
                }
            });
    	}
    	loadTaskTypeList();
    	
    	var loadTaskStatusList = function(val){
    		$.ajax({
                type: "get",
                url: contextRoot + "task/taskstatuss",          
                success: function (result) {
                    if (result.code == 200) {
                    	app.taskStatusList = result.data;
                    }else {
                        showError(result.msg);
                    }
                },
                error: function () {
                	showError("类型列表失败");
                }
            });
    	}
    	loadTaskStatusList();

        var testEditor;
        var loadEditor = function(val){
            testEditor = editormd("test-editormd", {
                placeholder : "开始编辑...",
                width   : "90%",
                height  : 540,
                syncScrolling : "single",
                imageUpload: true,//图片上传功能
                imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL : "../article/uploadImage",
                path    : "../third/editor.md/lib/",
                emoji: false,
                toolbarIcons : function() {
                    // Or return editormd.toolbarModes[name]; // full, simple, mini
                    // Using "||" set icons align right.
                    return ["undo","redo","|","bold","italic","quote","uppercase","lowercase","|","list-ul","list-ol","hr","|","link","image","code","code-block","table","html-entities","|","watch","preview","fullscreen","clear"]
                },
                onchange : function() {
                    app.ruleForm.content = testEditor.getMarkdown();
                },
                onload: function () {
                    if (testEditor)
                        testEditor.setMarkdown(val);
                }
            });
        }

        var save = function () {

            // if(!app.ruleForm.starttime)
            //     app.ruleForm.starttime = "";
            // if(!app.ruleForm.endtime)
            //     app.ruleForm.endtime = "";

            $.ajax({
                type: "post",
                url: contextRoot + "task/saveTask",
                data: JSON.stringify(app.ruleForm),
                contentType: 'application/json',
                async: true,
                success: function (result) {
                    console.log(result);
                    if (result.code == 200) {
                        if(app.isEdit){
                            showMsg("保存成功");
                        }else{
                            showMsg("保存成功");
                            //app.$refs['ruleForm'].resetFields();
                            window.location.href = contextRoot + "task/taskList";
                        }
                    }else {
                        showError(result.msg);
                    }
                },
                error: function () {
                    showMsg("保存失败");
                }
            });
        }

        
        var app = new Vue({
            el: '#app',
            data: {
                isEdit: false,
                ruleForm:{
                	title:'',
                    projectcode:'',
                    demandor:'',
                    tasktype:1,
                    taskstatus:0,
                    puttime:new Date(),
                    scheduledstart:'',
                    scheduledend:'',
                    content:''
                },
                projectList:[],
                taskTypeList:[],
                taskStatusList:[],
                rules:{
                    title: [
                        { required: true, message: '请输入名称', trigger: 'blur' },
                        { min: 1, max: 50, message: '长度请在 1 到 50 个字符', trigger: 'blur' }
                    ],
                    content:[
                        { required: true, message: '请输入内容', trigger: 'blur' },
                        { max: 4000, message: '请不要超过4000字符', trigger: 'blur' }
                    ]
                }
            },
            methods: {
                goback(){
                    window.location.href = contextRoot + "task/taskList";
                },
                handleCurrentChange(val){
                    app.currentPage = val;
                    app.loadData();
                },
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            save();
                        }else{
                            return false;
                        }
                    });
                }
            }
        })

        var id = GetQueryString("id");
        app.isEdit = false;
        if(id){
            app.isEdit = true;

            $.ajax({
                type: "get",
                url: contextRoot + "task/getById",
                data: { id:id },
                async: true,
                success: function (result) {
                    console.log("getInfo");
                    console.log(result);
                    if (result.code == 200) {
                        app.ruleForm = result.data;

                        loadEditor(app.ruleForm.content);

                    }else {
                        showError(result.msg);
                    }
                },
                error: function () {
                    showMsg("编辑获取信息失败");
                }
            });
        }else{
            loadEditor();
        }
        
        

    </script>
</div>


</body>
</html>


