<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="share/managerlayout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>报警管理</title>
    <style type="text/css">
        .el-table td{
            padding: 0 0;
        }
    </style>
</head>
<body>
<div layout:fragment="mangercontent">
    <!-- top over-->
    <div class="box-wrap">
        <el-scrollbar  class="contain">
            <div class="con-box">
                <div class="top-form clearfix">
                    <div class="table-ht dvm">
                        <span>客户名称：</span>
                        <el-select v-model="customerID" placeholder="请选择">
                            <el-option v-for="item in customerList.list"  :key="item.customerID" :label="item.customerName"  :value="item.customerID"> </el-option>
                        </el-select>
                    </div>
                    <div class="table-ht dvm">
                        <span>状态：</span>
                        <el-select v-model="alertStatus" placeholder="请选择">
                            <el-option v-for="item in states"  :key="item.value" :label="item.label"  :value="item.value"> </el-option>
                        </el-select>
                    </div>
                    <div class="table-ht dvm">
                        <span>类型：</span>
                        <el-select v-model="dataType" placeholder="请选择">
                            <el-option v-for="item in options"  :key="item.value" :label="item.label"  :value="item.value"> </el-option>
                        </el-select>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <!--<a href="#" class="add-btn">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-add"></use>
                        </svg>
                    </a>-->
                    <div class="table-cell">
                        <!--<div class="fg-m">
                            <el-select v-model="selectName" placeholder="请选择">
                                <el-option v-for="item in options2"  :key="item.value" :label="item.label"  :value="item.value"> </el-option>
                            </el-select>
                            <el-input placeholder="请输入" v-model="selectValue" @keyup.enter.native="fetchData"></el-input>
                        </div>-->
                        <div class="fg-m">
                            <el-date-picker class="rili-box"
                                            v-model="dateValue"
                                            type="daterange"
                                            format="yyyy-MM-dd"
                                            value-format="yyyy-MM-dd"
                                            range-separator="——"
                                            start-placeholder="开始日期"
                                            end-placeholder="结束日期">
                            </el-date-picker>
                            <el-button type="primary" @click="fetchData('')">查找</el-button>
                            <el-button @click="reset">重置</el-button>
                        </div>
                    </div>
                </div>
                <div class="top-sec clearfix">
                    <!--<div class="tab-word fl">
                        <span>状态：</span>
                        <el-select v-model="alertStatus" placeholder="请选择">
                            <el-option v-for="item in states"  :key="item.value" :label="item.label"  :value="item.value"> </el-option>
                        </el-select>
                    </div>-->

                   <!-- <div class="tab-word fl">
                        <span>状态:</span>
                        <a href="#" @click="fetchData('0')">全部</a>
                        <a href="#" class="cur" @click="fetchData('2')">异常</a>
                        <a href="#" @click="fetchData('1')">正常</a>
                    </div>-->
                    <div class="btn-group fr">
                        <div v-model="dialogAddVisible">
                            <el-button type="primary" @click="restart">解除全部报警</el-button>
                                <!-- {{dialogAddVisible}} -->

                            <el-button type="null" @click="dialogAddVisible=true" v-show="isCfgUse">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-shezhi"></use>
                                </svg>
                                报警设置
                            </el-button>
                        </div>


                    </div>
                </div>
               <!-- <div class="form-group clearfix">
                    <div class="fl">
                        <el-button type="primary" @click="dialogAddVisible = true">新增</el-button>
                    </div>
                    &lt;!&ndash; <div class="fr">
                      <el-button>自动整编</el-button>
                      <span class="line"></span>
                      <span class="cg6">
                        <a href="#" class="cb">原始数据</a>/
                        <a href="#">整编数据</a>
                      </span>
                    </div> &ndash;&gt;
                </div>-->

                <el-table @selection-change="changeFun" style="width: 100%" :data="pageModel.list.slice((pageModel.currentPage-1)*pageModel.pagesize,pageModel.currentPage*pageModel.pagesize)"
                          highlight-current-row class="x-table  table-td0">

                    <el-table-column  label="序号" width="40" type="selection" @selection-change="changeFun">
                     </el-table-column>

                    <el-table-column label="序号"width="100"  type="index">
                        <template scope="scope"><span>{{scope.$index+(pageModel.currentPageIndex-1)*pageModel.pagesize + 1}} </span></template>
                    </el-table-column>

                    </el-table-column>
                    <el-table-column label="客户名称">
                        <template scope="scope">
                            <el-input size="mini" v-model="scope.row.customerName" placeholder="请输入内容" v-if="isShow[scope.$index]"></el-input>
                            <span v-if="scope.row.customerName==''">-</span>
                            <span v-else>{{scope.row.customerName}}</span>
                        </template>
                    </el-table-column>

                    <el-table-column label="测点">
                        <template scope="scope">
                            <el-input size="mini" v-model="scope.row.sensorName" placeholder="请输入内容" v-if="isShow[scope.$index]"></el-input>
                            <span v-if="scope.row.sensorName==''">-</span>
                            <span v-else>{{scope.row.sensorName}}</span>
                        </template>
                    </el-table-column>

                    <el-table-column  label="温度(℃)">
                        <template slot-scope="scope" >
                            <!--<el-input size="mini" v-model="scope.row" placeholder="请输入内容" v-if="isShow[scope.$index]"></el-input>
                            <span v-if="scope.row.value2==''">-</span>-->
                            <div v-bind:class="{cbgr:true}"
                                 v-if="scope.row.alertStatus=='2'"
                                 style="height:48px;line-height:48px;">
                                        {{scope.row.value2}}
                            </div>
                            <div v-bind:class="{cbgs:true}"
                                 v-if="scope.row.alertStatus=='3'"
                                 style="height:48px;line-height:48px;">
                                        {{scope.row.value2}}
                            </div>
                            <div v-if="scope.row.alertStatus=='1'"
                                 style="height:48px;line-height:48px;">
                                        {{scope.row.value2}}
                            </div>
                        </template>
                    </el-table-column>

                    <el-table-column  label="开合度(mm)" class="cbgr">
                        <template slot-scope="scope">
                            <el-input size="mini" v-model="scope.row" placeholder="请输入内容" v-if="isShow[scope.$index]"></el-input>
                            <!--<span v-if="scope.row.value1==''">-</span>-->
                            <div  v-if="scope.row.opnAlertStatus=='2'"
                                  v-bind:class="{cbgr:true}"
                                  style="height:48px;line-height:48px;">{{scope.row.value1}}</div>
                            <div  v-if="scope.row.opnAlertStatus=='3'"
                                  v-bind:class="{cbgs:true}"
                                  style="height:48px;line-height:48px;">{{scope.row.value1}}</div>
                            <div  v-if="scope.row.opnAlertStatus=='1'">{{scope.row.value1}}</div>
                        </template>
                    </el-table-column>

                    <el-table-column  label="时间">
                        <template slot-scope="scope" >
                            <el-input size="mini" v-model="scope.row.createTime" placeholder="请输入内容" v-if="isShow[scope.$index]"></el-input>
                            <span v-if="scope.row.createTime==''">-</span>
                            <span v-else>{{scope.row.recordStartDate}}</span>
                            <!--<span v-else>{{scope.row.recordStartDate}}&#45;&#45;{{scope.row.recordStartDate}}</span>-->
                        </template>
                    </el-table-column>
                    <el-table-column  label="管理">
                        <template slot-scope="scope" >
                            <el-input size="mini" v-model="scope.row" placeholder="请输入内容" v-if="isShow[scope.$index]"></el-input>
                            <!--<span v-if="scope.row.alertStatus==''">-</span>-->
                            <!--<span v-else>{{scope.row.alertStatus}}</span>-->
                            <!-- style="background-color:#FF0000" -->
                            <!--<span v-if="scope.row.alertStatus=='0'"> -&#45;&#45; </span>-->

                            <span class="cr" v-if="scope.row.alertStatus=='2'
                                                    || scope.row.alertStatus=='3'
                                                    || scope.row.opnAlertStatus=='2'
                                                    || scope.row.opnAlertStatus=='3'">
                                <a href="#" class="co" @click="removeAlert(scope.row.sensorDataID)" >
                                    解除报警
                                </a>
                            </span>

                            <span v-else>正常</span>
<!--
                            <span class="cr" v-if="scope.row.alertStatus=='3'"><a href="#" class="co" @click="removeAlert(scope.row.sensorDataID)" >解除报警</a></span>
-->
                            <!--<span class="cr" v-if="scope.row===1"><a href="#" class="cb">解除报警</a></span>-->
                            <!--<span v-else>{{scope.row.recordStartDate}}&#45;&#45;{{scope.row.recordStartDate}}</span>-->
                        </template>
                    </el-table-column>

                    <!--<el-table-column  label="操作">
                        <template slot-scope="scope" >
                            <a href="#" class="svg-a" title="保存" v-if="isShow[scope.$index]" @click="saveSensorData(scope.$index, scope.row)">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-baocun"></use>
                                </svg>
                            </a>
                            <a href="#" class="svg-a" title="编辑" v-if="!isShow[scope.$index]" @click="editSensorData(scope.$index, scope.row)">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-edtor"></use>
                                </svg>
                            </a>
                            <a href="#" class="svg-a" title="删除"  @click="deleteSensorData(scope.$index, scope.row)">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-del"></use>
                                </svg>
                            </a>

                        </template>
                    </el-table-column>-->
                </el-table>
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        layout="sizes, prev, pager, next"
                        :total="pageModel.totalCount"
                        :current-page="pageModel.currentPage"
                        :page-sizes="[10,20,30,50]"
                        :page-size="pageModel.pagesize">
                </el-pagination>
            </div>
        </el-scrollbar>
        <!-- 新增开始 -->
        <el-dialog class="dialog-panel pop-sm" title="报警设置" :visible.sync="dialogAddVisible">
            <el-scrollbar class="p-hide">
                <h2 class="p-ht">报警类型：</h2>
                    <br class="p-box clearfix">

                <el-form ref="form"  label-width="124px" class="pop-form form-m0">
                    <el-form-item>
                        <el-checkbox v-model="isTmpAlert" label="温度报警"></el-checkbox>
                    </el-form-item>
                    <el-form-item label="最大值(&#8451;):">
                        <el-input style="width: 150px" v-model="tmpUp"></el-input>
                    </el-form-item>
                    <el-form-item  label="最小值(&#8451;):">
                        <el-input style="width: 150px" v-model="tmpDown"></el-input>
                    </el-form-item>

                    <el-form-item>
                        <el-checkbox v-model="isOpnAlert" label="开合度报警"></el-checkbox>
                    </el-form-item>
                    <el-form-item  label="最大值(mm):">
                        <el-input style="width: 150px"  v-model="opnUp"></el-input>
                    </el-form-item>
                    <el-form-item  style="width: 150px" label="最小值(mm):">
                        <el-input style="width: 150px"  v-model="opnDown"></el-input>
                    </el-form-item>

                    <el-form-item>
                        <el-checkbox v-model="isNulAlert" label="空值报警"></el-checkbox>
                    </el-form-item>
                </el-form>
                    <!--<br class="p-zl">-->


                        <!--<span class="p-f">温度报警：</span>-->
                        <!--<br></br>-->
                        <!--<div class="pf-m">
                            <span class="p-f">当数值&gt;</span>
                            <el-input placeholder="" value="" v-model="tmpUp"></el-input>
                        </div>-->

                        <!--<a href="#" class="add-btn">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-add"></use>
                            </svg>
                        </a>-->
                    <!--<div class="table-cell">
                        <div class="fg-m">
                           &lt;!&ndash; <div class="pf-m">
                                <span class="p-f">温度报警：</span>
                               &lt;!&ndash; <el-select v-model="value" placeholder="用户名">
                                    <el-option>
                                    </el-option>
                                </el-select>&ndash;&gt;
                            </div>&ndash;&gt;
                            <div class="pf-m">
                                <br></br>
                            </div>
                            <div class="pf-m">
                                <span class="p-f">当数值&gt;</span>
                                <el-input placeholder="" value="" v-model="tmpUp"></el-input>
                            </div>
                            <div class="pf-m">
                                <span class="p-f">当数值&lt;</span>
                                <el-input placeholder="" value="" v-model="tmpDown"></el-input>
                            </div>
                        </div>
                        <div class="fg-m">
                            <div class="pf-m">
                                <span class="p-f">开合度报警：</span>
                               &lt;!&ndash; <el-select v-model="value" placeholder="用户名">
                                    <el-option>
                                    </el-option>
                                </el-select>&ndash;&gt;
                            </div>
                            <div class="pf-m">
                                <br></br>
                            </div>
                            <div class="pf-m">
                                <span class="p-f">当数值&gt;</span>
                                <el-input placeholder="" value="" v-model="opnUp"></el-input>
                            </div>
                            <div class="pf-m">
                                <span class="p-f">当数值&lt;</span>
                                <el-input placeholder="" value="" v-model="opnDown"></el-input>
                            </div>
                        </div>
                    </div>
                    <div class="p-m">
                        <el-checkbox v-model="isNulAlert"></el-checkbox>漏值报警：当采集数据为空时，系统报警
                    </div>
                </div>-->
            </el-scrollbar>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" @click="updateAlrtCfg">确 定</el-button>
                <el-button @click="dialogAddVisible = false">取 消</el-button>
            </div>
        </el-dialog>
        <!-- 新增结束 -->

    </div>
</div>
<div layout:fragment="jscontent">
    <script th:src="@{/js/monitorManager.js}"></script>
</div>
</body>
</html>
