<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="share/managerlayout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>数据统计</title>
</head>
<body>
<div layout:fragment="mangercontent">
    <!-- top over--> 
    <div class="box-wrap">
      <el-scrollbar  class="contain">
        <div class="con-box">
          <div class="top-form clearfix">
            <div class="table-ht dvm">
              <span>客户名称：</span>
              <el-select v-model="customerID" placeholder="请选择" @change="fetchData(0)">
                <el-option v-for="item in customerList.list"  :key="item.customerID" :label="item.customerName"  :value="item.customerID"> </el-option>
              </el-select>
            </div>
            <div class="table-ht dvm">
              <span>时间：</span>
              <el-date-picker class="rili-box" @change="fetchData(0)"
                  v-model="dateValue"
                  type="daterange"
                  format="yyyy-MM-dd"
                  value-format="yyyy-MM-dd"
                  range-separator="——"
                  start-placeholder="开始日期"
                  end-placeholder="结束日期">
               </el-date-picker>
            </div>
          </div>  
          <div class="form-group clearfix">
	            <div class="btn-group fl">
	              <el-button type="primary" @click="fetchData(1)">日均统计</el-button>
	              <el-button type="primary" @click="fetchData(2)">月均统计</el-button>
	              <el-button type="primary" @click="fetchData(3)">极值统计</el-button>
	              <span class="line"></span>
	              <el-button type="primary" @click="kshChart">
	                <svg class="icon" aria-hidden="true">
	                    <use xlink:href="#icon-yanjing"></use>
	                </svg>
	               	 可视化
	              </el-button>
	            </div>
	            <el-button class="fr" @click="exportDataVisible = true">导出</el-button>
          </div>  
           <el-table style="width: 100%" :data="pageModel.list.slice((pageModel.currentPage-1)*pageModel.pagesize,pageModel.currentPage*pageModel.pagesize)" 
           highlight-current-row class="x-table  table-td0">
            <!-- <el-table-column  label="序号" width="40" type="selection" @selection-change="changeFun">
            </el-table-column> -->
            <el-table-column label="序号"width="60" type="index">
			<template scope="scope"><span>{{scope.$index+(pageModel.currentPageIndex-1)*pageModel.pagesize + 1}} </span></template>
		    </el-table-column>
		    <el-table-column label="测点">
                <template scope="scope">
                    <span>{{scope.row.sensorName}}</span>
                </template>
            </el-table-column>
            <el-table-column  label="代号">
               <template slot-scope="scope" >
                   <span>{{scope.row.sensorCode}}</span>
               </template>
            </el-table-column>
            <el-table-column  label="时间">
               <template slot-scope="scope" >
                   <span>{{scope.row.recordStartDate}}</span>
               </template>
            </el-table-column>
            <el-table-column  label="开合度(mm)">
               <template slot-scope="scope" >
                   <span>{{scope.row.value1}}</span>
               </template>
            </el-table-column>
            <el-table-column  label="温度(℃)">
               <template slot-scope="scope" >
                   <span>{{scope.row.value2}}</span>
               </template>
            </el-table-column>
          </el-table>
          <el-pagination 
                  @size-change="handleSizeChange"
                  @current-change="handleCurrentChange"
		          layout="total, sizes, prev, pager, next, jumper"
		          :total="pageModel.totalCount" 
		          :current-page="pageModel.currentPage" 
		          :page-sizes="[10,20,30,50]" 
		          :page-size="pageModel.pagesize"> 
          </el-pagination>
        </div>
      </el-scrollbar>
    <!-- 导出报表弹层 开始-->
    <el-dialog class="dialog-panel pop-sm" title="导出报表" :visible.sync="exportDataVisible">
    <el-form ref="form"  label-width="80px" class="pop-form">
      <el-form-item label="选择日期：">
        <el-date-picker class="rili-box"
                  v-model="dateValue"
                  type="daterange"
                  format="yyyy-MM-dd"
                  value-format="yyyy-MM-dd"
                  range-separator="——"
                  start-placeholder="开始日期"
                  end-placeholder="结束日期">
                </el-date-picker>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button type="primary" @click="exportData">确 定</el-button>
      <el-button @click="exportDataVisible = false">取 消</el-button>
    </div>

  </el-dialog>
  <!--导出报表弹层结束  -->
  
  <!--可视化开始  -->
  <el-dialog class="dialog-panel" title="可视化" :visible.sync="visualizationVisible">
  	<div id="kshChart" style="text-align: center;margin-top:10px; width: 900px;height: 500px;">
  </el-dialog>
  <!--可视化结束 -->
    </div>
</div>
  <div layout:fragment="jscontent">
  <script th:src="@{/js/dataStatistics.js}"></script>
  </div>
</body>
</html>
