<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.sqber.personMgr.dal.IBdMenuRepository">
	<resultMap id="BaseResultMap" type="com.sqber.personMgr.entity.Menu">
	    <id column="menuID" property="menuID" jdbcType="INTEGER" />
	    <result column="menuName" property="menuName" jdbcType="VARCHAR" />
	    <result column="menuURL" property="menuURL" jdbcType="VARCHAR" />
		<result column="icon" property="icon" jdbcType="VARCHAR" />
		<result column="roles" property="roles" jdbcType="VARCHAR" />
	    <result column="Status" property="status" jdbcType="INTEGER" />
	    <result column="CreateUser" property="createUser" jdbcType="VARCHAR" />
	    <result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="ModifyUser" property="modifyUser" jdbcType="VARCHAR" />
	    <result column="ModifyTime" property="modifyTime" jdbcType="TIMESTAMP" />
  	</resultMap>

	<sql id="Base_Column_List">
		menuID, menuName, menuURL,icon,roles, Status, CreateUser, CreateTime, ModifyUser, ModifyTime
	</sql>
	
	<select id="getListAll" resultMap="BaseResultMap" parameterType="com.sqber.personMgr.entity.Menu">
		SELECT
		<include refid="Base_Column_List" />
		FROM menu where status = 1
    	order by CreateTime desc  	
	</select>
	
	<select id="getRoleByName" resultMap="BaseResultMap" parameterType="com.sqber.personMgr.entity.Menu">
		SELECT
		<include refid="Base_Column_List" />
		FROM menu where menuName = #{menuName} limit 1
	</select>
</mapper>